body {
    background-image: url('https://cdn.vox-cdn.com/thumbor/Ygnn0cSyCEYD8xnnDKFMYN4BgaQ=/0x0:2000x1333/1820x1213/filters:focal(840x507:1160x827):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/63616039/171109_08_11_37_5DS_0545.0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 30px;
    text-align: center;
    height: 100%;
    width: 100vw;
    margin: 0 0 0 0 !important;
}

#navbar {
    background: blue;
}

#navbar a {
    text-decoration: none;
}

h1 {
    color: purple;
}

#test {
    color: green;
}

#league {
    width: 30vw;
    height: 20vw;
}

.red_heading {
    color: red;
}

#heading {
    color: blue;
    font-size: 3em;
}

#hungry {
    font-size: 1em;
}